.box{
    margin: 10px;
    padding: 0px 10px;
    height: 100px;
    width: 550px;
    background-color: rgb(235, 110, 252);
    border-radius: 5px;

}
.food{
    font-size: 35px;
    font-weight: bold;
}
.desc{
    font-size: 25px;
    font-weight: 600;
}
.editbox{
    margin: 20px;
    padding: 10px;
    height: 80px;
    width: 450px;
    background-color: rgb(235, 110, 252);
    border-radius: 5px;
    
}
.editfood{
    
    margin: 5px;
    font-size: 15px;
}
.editcalorie{
    margin: 5px;
    font-size: 15px;
}